*.pyc
\\
*.so
*~
.#*
*.lprof
*.swp
*.swo
.DS_Store
.idlerc/
build

dist/
doc/build/
doc/auto_examples/
doc/modules/generated/
doc/datasets/generated/
*.pdf
pip-log.txt
.coverage
coverage
tags
covtype.data.gz

*.nt.bz2
*.tar.gz
*.tgz

*.prefs
.pydevproject
